.watchpage{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    margin-top: 20px;
}
.playbox{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 30px;
    position: static;
}
video{
    width: 100%;
}
#videobox{
    position: relative;
    display: flex;
    flex-direction: column;
}
.playcontrols{
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
}
.playcontrols__timeline{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin: 0 5px;
}
.showing{
    opacity: 1;
}
.playcontrols__timeline__range{
    width: 100%;
}
.playcontrols__controlers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin : 0 5px;
}
.playcontrols__controlers button{
    background-color: transparent;
    border: none;
}
.playcontrols__controlers i{
    color: white;
    font-size: 18px;
}
.videoinfo{
    margin: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.videoinfo__title h1{
    font-size: 21px;
    margin-bottom: 15px;
}
.videoinfo__title small{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}
.videoinfo__subinfo{
    margin: 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}
.videoinfo__subinfo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right : 15px;
}
.videoinfo__subinfo a{
    margin-top: 15px;
    text-align: center;
    display: flex;
}
.videoinfo__subinfo p{
    margin-top: 15px;
}
.videoinfo__titlesub button{
    background-color: #181818;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.videoinfo__titlesub{
    display: flex;
    justify-content: space-between;
}