mixin video(Video)
    div.video__form
        a(href ="/videos/" + Video.id)
            div.videoThumbnail
            div.videodata
                span #{Video.title}
        div.videodata__meta
            span #{Video.owner.name}
            span #{Video.meta.views} 회
        small=Video.createdAt 