.basemenu{
    width : 94%;
    margin-left: 6%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #202020;
    font-size: 15px; 
    position: fixed;
    z-index: 2;
};
.headerphoto{
    width: 30px;
    height: 30px;
    border-radius: 50%;
};
.basemenu_others{
    margin-right: 15px;
    font-size: 15px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
};
.basemenu_others a i{
    font-size: 17px;
}
.basemenu_search form{
    max-width: 500px;
    display: flex;
}
.basemenu_home{
    margin-left: 30px;
    display: flex;
    font-size: 25px;
    font-weight: 700;
}
.basemenu_home a{
    margin-left: 5px;
    display: flex;
}
.basemenu_home a i{
    color: red;
}
.basemenu_home a p{
    color: white;
    letter-spacing: -3px;
    font-weight: 600;
}
.searchform{
    font-size: 16px;
    color: white;
    background-color: #121212;
    padding : 5px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    width: 80%;
}
.searching button{
        font-size: 16px;
        color : rgba(255, 255, 255, 0.6);
        background-color: #313131;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        width: 20%;
        cursor: pointer;
}
