.pageTitle{
    height: 70px;
    width: 100%;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.pageTitle p{
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}