.sidebar{
    background-color: #202020;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    z-index: 3;
    margin-top: 22px;
}
.sidebar div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar__home{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fas.fa-bars.basemenu_sidebar{
    font-size: 25px;
}
.sidebar__home i{
    font-size: 20px;
}
.sidebar__home p{
    margin-top: 5px;
    font-size: 10px;
}
.sidebar_extend{
    width: 240px;
    height: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 3;
}
.sidebar_extend span{
    margin-top: 50px;
}
.sidebar_extend_logo{
    display: flex;
    margin-top: 22px;
    font-size: 25px;
    font-weight: 700;
}
.sidebar_extend_logo a{
    margin-left: 56px;
    display: flex;
}

.sidebar_extend_logo a i{
    color: red;
}
.sidebar_extend_logo a p{
    color: white;
    letter-spacing: -3px;
    font-weight: 600;
}