doctype html 
html(lang = "ko")
    head 
        title YouTube
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
        link(rel="stylesheet", href="/static/css/style.css")
    body
        include partials/header.pug
        main
            include partials/sidebar.pug
            div.maincontents
                include partials/pageTitle.pug
                div.contents
                    block content 
        include partials/footer.pug
    block scripts
    //-static url로가면 assets 폴더로 접근할 수 있는 권한을 줌. index.js에서 설정