doctype html 
html(lang = "ko")
    head 
        title YouTube
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
        link(rel="stylesheet", href="/static/css/style.css")
    body
        include partials/header.pug
        main
            include partials/sidebar.pug
            div.maincontents
                include partials/pageTitle.pug
                div.contents
                    block content 
    include partials/footer.pug
    script(src="/static/js/main.js")