doctype html 
html(lang = "ko")
    head 
        title #{pageTitle} | Youtube 
    body 
        header 
            h3=pageTitle
            nav
                ul
                    li 
                        a(href="/") Home 
                if loggedIn 
                    li 
                        a(href="/users/logout") Log Out 
                    li 
                        a(href="/users/"+loggedInUser._id) My Profile 
                    li 
                        a(href="/users/edit-profile") Edit Profile 
                    li
                        a(href="/videos/upload") Upload Video                                          
                else 
                    li 
                        a(href="/join") Join 
                    li 
                        a(href="/login") Login 
                li 
                    a(href="/search") Search
        main
        block content 
    include footers/footer.pug
    script(src="/static/js/main.js")