extends base.pug
block content
    video#video
    form#thumbform
        label(for="makethumb") Download Thumbnail
        input#makethumb(type="file", accept="video/*", name = "makethumb")
        button#button Upload

block scripts
    script(src="/static/js/makethumb.js")