extends base.pug
block content
    div.editvideo
        h4 Update Video
        form(method = "POST")
            input(name="video", placeholder = "Video Title", value = video.title, required)
            input(name = "description", placeholder = "Description", value = video.description, required)
            input(name = "hashtags", placeholde = "Hashtags", value = video.hashtags.join(),required)
            input(type="submit", value="Save")