/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.basemenu {
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: #202020;
  font-size: 15px;
  position: fixed;
  z-index: 2;
}

.headerphoto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.basemenu_others {
  margin-right: 15px;
  font-size: 15px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.basemenu_others a i {
  font-size: 17px;
}

.basemenu_search form {
  max-width: 500px;
  display: flex;
}

.basemenu_home {
  margin-left: 90px;
  display: flex;
  font-size: 25px;
  font-weight: 700;
}

.basemenu_home a {
  margin-left: 5px;
  display: flex;
}

.basemenu_home a i {
  color: red;
}

.basemenu_home a p {
  color: white;
  letter-spacing: -3px;
  font-weight: 600;
}

.searching {
  display: flex;
  width: 100%;
}

.searchform {
  font-size: 16px;
  color: white;
  background-color: #121212;
  padding: 5px 20px;
  border-bottom:  1px solid rgba(255, 255, 255, 0.2);
  width: 80%;
}

.searching button {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #313131;
  border-bottom:  1px solid rgba(255, 255, 255, 0.2);
  width: 20%;
  cursor: pointer;
}

.sidebar {
  background-color: #202020;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  z-index: 3;
  margin-top: 22px;
}

.sidebar div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar__home {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fas.fa-bars.basemenu_sidebar {
  font-size: 25px;
  cursor: pointer;
}

.sidebar__home i {
  font-size: 20px;
}

.sidebar__home p {
  margin-top: 5px;
  font-size: 10px;
}

.sidebar_extend {
  width: 240px;
  height: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 3;
}

.sidebar_extend span {
  margin-top: 50px;
}

.sidebar_extend_logo {
  display: flex;
  margin-top: 22px;
  font-size: 25px;
  font-weight: 700;
}

.sidebar_extend_logo a {
  margin-left: 56px;
  display: flex;
}

.sidebar_extend_logo a i {
  color: red;
}

.sidebar_extend_logo a p {
  color: white;
  letter-spacing: -3px;
  font-weight: 600;
}

.pageTitle {
  height: 50px;
  width: 100%;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.pageTitle p {
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

input:not([type=range]):not(.searchform):not(.video__comments-form) {
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  padding: 5px 20px;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input[type=submit] {
  cursor: pointer;
}

form:not(.searching):not(.video__comments-form) {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
}

.profileimg {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-right: 10px;
}

.editvideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.editprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.video__grid {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 30px;
  margin-top: 25px;
}

.video__form {
  height: 250px;
  width: 280px;
  align-items: center;
  margin-right: 30px;
}

.videoThumbnail {
  background-color: white;
  width: 280px;
  height: 150px;
}

.videoThumbnail img {
  width: 100%;
  height: 100%;
}

.video__form small {
  font-size: 9px;
  color: rgba(255, 255, 255, 0.3);
}

.videodata__meta span {
  padding-bottom: 2px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

.videodata__meta {
  display: flex;
  flex-direction: column;
}

.watchpage {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  margin-top: 20px;
}

.uservideo {
  width: 200px;
  height: 120px;
}

.playbox {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 30px;
  position: static;
}

video {
  width: 100%;
}

#videobox {
  position: relative;
  display: flex;
  flex-direction: column;
}

.playcontrols {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 100%;
}

.playcontrols__timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin: 0 5px;
}

.showing {
  opacity: 1;
}

.playcontrols__timeline__range {
  width: 100%;
}

.playcontrols__controlers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

.playcontrols__controlers button {
  background-color: transparent;
  border: none;
}

.playcontrols__controlers i {
  color: white;
  font-size: 18px;
}

.videoinfo {
  margin: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.videoinfo__title h1 {
  font-size: 21px;
  margin-bottom: 15px;
}

.videoinfo__title small {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.videoinfo__subinfo {
  margin: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.videoinfo__subinfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.videoinfo__subinfo a {
  margin-top: 15px;
  width: 20%;
  text-align: center;
  display: flex;
}

.videoinfo__subinfo p {
  margin-top: 15px;
}

.videoinfo__titlesub button {
  background-color: #181818;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.videoinfo__titlesub {
  display: flex;
  justify-content: space-between;
}

#video {
  width: 500px;
}

#preview {
  width: 500px;
}

.previewbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commentSector {
  width: 100%;
}

.video__comments-form {
  max-width: 100%;
  display: flex;
  justify-items: right;
  height: 40px;
  margin-bottom: 20px;
}
.video__comments-form input:focus {
  outline: none;
}

.video__comments-form input {
  font-size: 16px;
  color: white;
  background-color: #121212;
  padding: 5px 20px;
  border: none;
  width: 100%;
  border-bottom: solid 1px white;
}

.video__comments-form button {
  background-color: royalblue;
  border: none;
  width: 15%;
  color: white;
  font-weight: 500;
}

.video__comment {
  margin-bottom: 20px;
}

body {
  height: 100%;
  background-color: #181818;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

.maincontents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  margin-left: 70px;
}

.contents {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 90%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40px;
  margin-top: 50px;
}

sup {
  line-height: 1;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
}

.joinpage {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button {
  cursor: pointer;
}
