div.basemenu
    div.basemenu_home
        a(href="/")
            i.fab.fa-youtube
            p Premium
            sup KR
    div.basemenu_search
        form.searching(method = "GET", action = "http://localhost:4000/search")
            input.searchform(type="text", placeholder = "검색", name ="keyword")
            button(type="submit", title="Search") 
                i.fas.fa-search
    div.basemenu_others
        if loggedIn
                a(href="/users/logout") Log Out  
                a(href="/users/"+loggedInUser._id, title="My profile")
                    i.fas.fa-user
                a(href="/users/edit-profile", title = "Edit my profile")
                    i.fas.fa-user-edit
                a(href="/videos/upload", title="Upload Video")
                    i.fas.fa-upload
                if loggedInUser.avatarUrl
                    img(src=loggedInUser.avatarUrl).headerphoto                                                       
        else 
                a(href="/join") Join 
                a(href="/login") Login
block scripts 
    script(src="/static/js/sidebar.js") 
