div.sidebar
    div.sidebar__home
        i.fas.fa-home 
        p 홈
    div.sidebar__home
        i.fas.fa-home 
        p My Videos
    div.sidebar__home
        i.fas.fa-home 
        p 보관함
    div.sidebar__home
        i.fas.fa-home 
        p Original