extends ../base
include ../mixins/video
block content
    div.video__grid
        each video in videos 
            +videolist(video)
        else
            ul
                li You didn't upload video!
                br
                li 
                    a(href="/videos/upload") Upload Video Here! &rarr; 